DATABASE_URL="postgresql://username:password@host:port/database-name"
JWT_SECRET=
PORT=
GOOGLE_CLIENT_ID=
JWT_REFRESH_SECRET=
NODE_ENV="development"
REDIS_URL=redis://localhost:port
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
RAZORPAY_WEBHOOK_SECRET=